<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form Angularjs</title>
</head>
<body ng-app="app-form">
    <div ng-Controller="formController">
        <!-- dữ liệu liên quan đến form sẽ được
        $scope của formController quản lý -->
            <form action="">
                <input placeholder="Tên" ng-model="ten">
                <input placeholder="Tuổi" type="number" ng-model="tuoi">
                <button type="button" ng-click="onSubmitForm()">Tạo mới</button>
            </form>
    </div>
    <script src="libs/bootstrap.min.css"></script>
    <script>
        var app = angular.module('app-form', []);
        app.Controller('formController',function($scope){

        })
    </script>
</body>
</html>